:host ::ng-deep {
      .p-tabview-nav {
        background: white;
      }

      .p-tabview-panels {
        background: transparent;
        padding: 2rem 0;
      }

      .p-card {
        border-radius: 1rem;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
      }
    }